configuration {

    // Timeout from user input.
    timeout {
        // The delay after inactivity to execute action.
        delay: 0;
        // The action to execute once the delay expires.
        action: "kb-cancel";
    }
    show-icons: true;
    // File browser mode.
    filebrowser {
        sorting-method:    "name";
        directories-first: true;
    }
}

//@theme "/home/losg/.local/share/rofi/themes/rounded-purple-dark.rasi"
//@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"
//@theme "/home/losg/.local/share/rofi/themes/spotlight-dark.rasi"
//@theme "/home/losg/.local/share/rofi/themes/rounded-purple-dark.rasi"
//@theme "/home/losg/.local/share/rofi/themes/windows11-list-dark.rasi"
//@theme "/home/losg/.local/share/rofi/themes/rounded-red-dark.rasi"
//@theme "/home/losg/.local/share/rofi/themes/rounded-pink-dark.rasi"

//@theme "/home/losg/.local/share/rofi/themes/squared-everforest.rasi"

//@theme "/home/losg/.local/share/rofi/themes/spotlight.rasi"

@theme "/home/losg/.local/share/rofi/themes/spotlight-dark.rasi"
